# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/premake/*.db
/premake/*.opendb
/premake/.vs
/premake/bin
/premake/obj
/premake/*.sdf
/premake/*.user
/premake/vs20*
/premake/gmake
/premake/conanpremake_debug_x32.lua
/premake/conanpremake_debug_x64.lua
/premake/conanpremake_release_x32.lua
/premake/conanpremake_release_x64.lua
/premake/conanbuildinfo.cmake
/premake/conaninfo.txt

/examples/protos/*.bat

*.pyc
test_package/build

/premake/conan_install_x64.bat
/premake/conan_install_debug_x64.bat
/premake/conanbuildinfo.txt
